<!DOCTYPE html>
<html lang="en"  xmlns="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Collegamento ai file CSS di Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Admin page</title>
</head>
<body>

    <div class="container text-center mb-4 mt-4">

        <h3>Good Morning</h3>

        <hr>

        <p>

            See you in Japan . . . for our annual Admin retreat!
            <br>
            Kepp trip a secret , do not tell the regular employees or manager LOL :-)

        </p>

        <hr>

        <a th:href="@{/}" class="btn btn-primary">Back to Home</a>
        
    </div>
    
</body>
</html>