<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .error {
            color: red;
        }
    </style>

</head>

<body>

    <form th:action="@{processForm}" th:object="${customer}" method="post">

        <br>
        <br>
        <label for="">Your Name : </label>
        <input type="text" th:field="*{firstName}">

        <br>
        <br>

        <label for="">Your last Name (*): </label>
        <input type="text" th:field="*{lastName}">

        <!-- show error message (if present) -->

        <!-- every field subobject to error need your span check error field -->

        <span th:if="${#fields.hasErrors('lastName')}"
                th:errors="*{lastName}" 
                class="error"></span>

        <br>
        <br>

        <label for="">Your code id (*): </label>
        <input type="text" th:field="*{codeId}"> <!-- to force input accept is number int set type to number-->

        <!-- show error message (if present) -->

        <span th:if="${#fields.hasErrors('codeId')}"
                th:errors="*{codeId}" 
                class="error"></span>

        <br>
        <br>

        
        <label for="">Your postal code (*): </label>
        <input type="text" th:field="*{postCode}">

        <!-- show error message (if present) -->

        <span th:if="${#fields.hasErrors('postCode')}"
                th:errors="*{postCode}" 
                class="error"></span>

        <br>
        <br>

        <label for="">Your course code (*): </label>
        <input type="text" th:field="*{courseCode}">

        <!-- show error message (if present) -->

        <span th:if="${#fields.hasErrors('courseCode')}"
                th:errors="*{courseCode}" 
                class="error"></span>

        <br>
        <br>

        <input type="submit" value="Test me">

    </form>

</body>

</html>