<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <title>Employees Directory</title>
</head>

<body>

    <!--<h1> lista brutta di employees : </h1>
    
    <br>
    <br>-->

    <div class="container">

        <h3>Employee Directory</h3>

        <hr>

        <!-- add a button to save new employee -->

        <a th:href="@{/employees/form-add-employee}"
                class="btn btn-primary btn-sm m-3"
                style="color: aliceblue;">Add employee</a>

        <hr>

        <!-- classi da bootstrap per lo stile della tabella -->
        <table class="table table-bodered table-striped">

            <thead class="table-dark">

                <tr>
                    <th>N°</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Modify</th>
                    <th>Delete</th>
                </tr>

            </thead>

            <tbody>
                
                <!-- tr sta per row della tabella , in questa inseirmeno una temp var che 
                    continne ennessimo elemento della lista di employee inviata dal backend con il nome 
                    employees , quandi si fa th:each="nomeVar : (: per assegnazione suppongo) ${nomeVarInArrivaDAlBackEnd}"-->
                <tr th:each="tempEmployee : ${employees}">
                    
                    <td th:text="${tempEmployee.id}"/>
                    <td th:text="${tempEmployee.firstName}"/>
                    <td th:text="${tempEmployee.lastName}"/>
                    <td th:text="${tempEmployee.email}"/>
                    <td> <!-- class="text-center" -->
                        <!-- dont missing th: . . . -->
                        <a th:href="@{/employees/show-form-update(id=${tempEmployee.id})}"
                            class="btn btn-primary btn-sm">Update</a>
                        <!--<form th:action="@{/employees/modify}" th:object="${tempEmployee}" method="put">
                            <button  type="submit" class="btn btn-primary btn-sm">Modify</button>
                        </form>-->
                    </td>
                    <td>
                        <form th:action="@{/employees/delete}" method="delete">
                            <!-- value ste to seend param to java spring boot-->
                            <input type="hidden" name="id" th:value="${tempEmployee.id}">
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                                Delete</button>
                        </form>
                    </td>

                </tr>

            </tbody>

        </table>
            
        <br>

        <hr>

        <a th:href="@{/employees/exit-close}"
            class="btn btn-danger btn-sm m-3"
            style="color: aliceblue;">Close App</a>

        <hr>
      
            
    </div>

</body>

<script>


        function alertDelte(firstName){
            if (!(confirm('Are you sure to delte employee : ' + firstName + ' ?')))
                return false;
            
        }
    

</script>

</html>