<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <title>Employees Directory</title>
</head>

<body>

    <!--<h1> lista brutta di employees : </h1>
    
    <br>
    <br>-->

    <div class="container">

        <h3>Employee Directory</h3>

        <hr>

        <a th:href="@{/add-employee}"
                method="post"
                class="btn btn-primary">Add employee</a>

        <hr>

        <!-- classi da bootstrap per lo stile della tabella -->
        <table class="table table-bodered table-striped">

            <thead class="table-dark">

                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                </tr>

            </thead>

            <tbody>
                
                <!-- tr sta per row della tabella , in questa inseirmeno una temp var che 
                    continne ennessimo elemento della lista di employee inviata dal backend con il nome 
                    employees , quandi si fa th:each="nomeVar : (: per assegnazione suppongo) ${nomeVarInArrivaDAlBackEnd}"-->
                <tr th:each="tempEmployee : ${employees}">

                    <td th:text="${tempEmployee.firstName}"/>
                    <td th:text="${tempEmployee.lastName}"/>
                    <td th:text="${tempEmployee.email}"/>

                </tr>

            </tbody>

        </table>

    </div>

</body>

</html>