<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello World</title>
</head>

<body>

    <h3>Student Confimation</h3>

    <br>
    <br>

    <!-- plus to add paramiter from field java pojo param point name of filed seend from html helloworld-from-->
    <p th:text="'The Studend Confermation is : ' + ${student}"></p> 
    <!-- prim obj like Student(name=name, surName=SUrname, age=12)-->

    
    <br>
    <br>

    <p th:text="'The Studend Confermation is : ' + ${student.name} + ' ' + ${student.surName}"></p> <!-- student.nameFiledInJavaClass -->

    
    <br>
    <br>

    <p th:text="'The Studend Country is : ' + ${student.country}"></p> 

    <br>
    <br>

    <p th:text="'The Studend favorite Language is : ' + ${student.favoriteLanguage}"></p> 

    <br>
    <br>


    <p th:text="'The Studend favorite system is : ' + ${student.favoriteSystem}"></p> 

    <br>
    <br>

    <ul>
        <li th:each="tempSys : ${student.favoriteSystem}" th:text="${tempSys}"/> <!-- crearte list of system seend -->
    </ul>

</body>

</html>