<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello World</title>
</head>

<body>

    <h1>
        HelloWorld of Spring!
    </h1>

    <br>
    <br>

    <p th:text="'Studend name : ' + ${param.studentName}"></p> <!-- plus to add paramiter from field java pojo param point name of filed seend from html helloworld-from-->

    <br>
    <br>

    <p th:text="'the message : ' + ${message}"/>
</body>

</html>