<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <title>Custom login page for spring security</title>

    <!-- to call class in css by '.' id call by '#' '-->
    <style>
        .error{ 
            color: red;
        }
    </style>

</head>

<body>

    <div class="container">

        <br>
        <br>

        <h3>my custom login page</h3>

        <br>
        <br>

        <!-- check for logout -->
        <div class="text-center" th:if="${param.logout}">
            <i style="color: green;">You have been logged out.</i>
        </div>

        <!-- metdo messo a disposizione da spring boot security setssa noi abbiamo solo fatto una custom della pagina di login-->
        <form class="form-contol" 
                th:action="@{/authenticateTheUser}" method="post">

            <p>
                <input type="text" name="username" placeholder="your username">
            </p>

            <p>
                <input type="password" name="password" placeholder="your password">
            </p>

            <input type="submit" value="login">

            <br>
            <br>

            <!-- check for login error-->
            <div th:if="${param.error}">
                <!-- style in line : style="color: red;" -->
                <i class="error" >Sorry! You entred invalid username or password.</i>
            </div>

        </form>

    </div>

</body>

</html>